<h2 id="title">ember-non-context-shifting-partials</h2>

<p>
  Links:
  {{link-to "Direct" "direct"}}
  {{link-to "Partial" "partial"}}
  {{link-to "Non-context-shifting Partial" "x-partial"}}
</p>

<p>
  {{outlet}}
</p>
